<!DOCTYPE html>
<html lang="sv" >
    <head>
        <meta charset="UTF-8">
        <title>L&auml;gga ut driftinformation f&ouml;r Stockholms universitet</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <img src="{{url_for('static',filename='su-blog.jpg')}}" width="940" height="198" alt="SU Logo" />
            <h2>Din driftinformation har processats</h2>
            <div><b>Rubrik:</b> {{rubrik}}<br/>
                 <b>Lång information (mejl/wordpress etc):</b> {{long}}<br/>
		 <b>Driftstörning </b> {{sms}}<br/>
                 <b>Kort text (Twitter/sms etc):</b> {{short}}<br/>
                 <b>Användarnamn:</b> {{username}}<br/>
                 <a href="/">Tillbaka<a/>
           </div>
        </div>
    </body>
</html>

